.wrapper {
    margin: 0 auto;
    width: 400px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
    position: relative;
}

.h-box {
    width: 160px;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 210px;
    z-index: 10;
}

.box1 {
    list-style: none;
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    
}

.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
    position: relative;
}

.r-box {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 10;
}

.box2 {
    list-style: none;
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid white;
    margin-bottom: 10px;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

* {
    margin: 0;
    padding: 0;
}

/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {

    .wrapper, .header, .left, .right, .footer{
        width: 200px;
    }

    .box1, .left, .right {
        float: none;
    }

    .header {
        height: 200px;
        position: relative;
    }

    .h-box {
        width: 60px;
        height: 160px;
        position: absolute;
        top: 20px;
        left: 70px;
    }

    .right {
        height: 210px;
        position: relative;
    }

    .r-box {
        position: absolute;
        top: 20px;
        left: 30px;
    }

}